.site-footer {
  @extend %padding-regular;
  position:absolute;
  bottom:0;
  padding :3% 20%;
  width: 100%;
  color: lighten($text-color, 30%);
  text-align: center;
  font-size: 0.9em;  
  p {
    margin-bottom:0;
  }
  .txt_small {
    font-size:0.9em;
    color:#F46255;
  }
}
