// Header text feature
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  background-color:$header-desc-background-color;
  background-size: cover;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
}
.call-out p:last-child {
  margin-bottom: 0;
}
.call-out a {
  color: $header-desc-link-color
}
// Post listing
.posts {
  .post-teaser {
    padding:2% 20%;
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    h2 {
      margin:0.2em 0;
      font-size:28px;
    }
    p.meta {
      color:$pink-color;
      font-weight:bold;
      font-size:1em;

    }
    p a {
      @extend .body-link;
    }
  }
  .excerpt {
    margin-top: 0;
    blockquote {
      margin:0.5em 0;
    }
  }
  .button {
    margin:0;
  }
}
// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
  @media (max-width: 600px) {
    padding: $padding-small;
  }
}

// home
.home {
  .img_song {
    position:relative; left:50%;
    display:inline-block;
    margin:180px 0;
    transform:translateX(-50%);
    width:250px; height:250px;
    a {
      display:block;
      width:100%;
      height:250px;
      font-size:0;
      background:url('https://user-images.githubusercontent.com/43769441/59405477-8fbbfd80-8de5-11e9-930d-e7d18e214e08.png');
      background-size:100%;
      animation-name:song;
      animation-duration:10s;
      animation-iteration-count: infinite;    
      animation-timing-function:linear;
      animation-direction: alternate;    
    }
    .img_txt {
      position:absolute;
      bottom:0; right:10%;
      width:35%;
    }
  }
  .call-out {
    padding:0;
  }
}
@keyframes song {
  0% {background:url('https://user-images.githubusercontent.com/43769441/59405477-8fbbfd80-8de5-11e9-930d-e7d18e214e08.png'); background-size:100%;}
  10% {background:url('https://user-images.githubusercontent.com/43769441/59405303-fd1b5e80-8de4-11e9-8525-e45c252a5954.png'); background-size:100%;}
  15% {background:url('https://user-images.githubusercontent.com/43769441/59405358-381d9200-8de5-11e9-8849-38c065a2378a.png'); background-size:100%;}
  20% {background:url('https://user-images.githubusercontent.com/43769441/59405381-4e2b5280-8de5-11e9-8022-51777b1c0917.png'); background-size:100%;}
  25% {background:url('https://user-images.githubusercontent.com/43769441/59405388-584d5100-8de5-11e9-8836-077807c0e6bb.png'); background-size:100%;}
  30% {background:url('https://user-images.githubusercontent.com/43769441/59405411-67340380-8de5-11e9-8a5e-321981a0a5ab.png'); background-size:100%;}
  35% {background:url('https://user-images.githubusercontent.com/43769441/59405432-71ee9880-8de5-11e9-92c2-f37c0216135b.png'); background-size:100%;}
  40% {background:url('https://user-images.githubusercontent.com/43769441/59405436-761ab600-8de5-11e9-8e0c-adc77b3b9c52.png'); background-size:100%;}
  45% {background:url('https://user-images.githubusercontent.com/43769441/59405437-761ab600-8de5-11e9-9920-739598c6bf75.png'); background-size:100%;}
  50% {background:url('https://user-images.githubusercontent.com/43769441/59405438-76b34c80-8de5-11e9-80df-9de87b543176.png'); background-size:100%;}
  55% {background:url('https://user-images.githubusercontent.com/43769441/59405439-76b34c80-8de5-11e9-8765-64d1a81f5282.png'); background-size:100%;}
  60% {background:url('https://user-images.githubusercontent.com/43769441/59405440-76b34c80-8de5-11e9-809f-653e64709858.png'); background-size:100%;}
  65% {background:url('https://user-images.githubusercontent.com/43769441/59405441-76b34c80-8de5-11e9-9a26-e762f77fbe5b.png'); background-size:100%;}
  70% {background:url('https://user-images.githubusercontent.com/43769441/59405442-774be300-8de5-11e9-97f7-9580f840526b.png'); background-size:100%;}
  75% {background:url('https://user-images.githubusercontent.com/43769441/59405443-774be300-8de5-11e9-9908-083d69c15811.png'); background-size:100%;}
  80% {background:url('https://user-images.githubusercontent.com/43769441/59405444-774be300-8de5-11e9-9b50-d3ee19f64748.png'); background-size:100%;}
  85% {background:url('https://user-images.githubusercontent.com/43769441/59405445-774be300-8de5-11e9-9ff0-0a4d03843eee.png'); background-size:100%;}
  90% {background:url('https://user-images.githubusercontent.com/43769441/59405471-8599ff00-8de5-11e9-977f-c73259e0a442.png'); background-size:100%;}
  100% {background:url('https://user-images.githubusercontent.com/43769441/59405477-8fbbfd80-8de5-11e9-930d-e7d18e214e08.png'); background-size:100%;}
}

// 404
.section_404 {
  text-align:center;
}