.post-content > :last-child {
  margin-bottom: 0;
}
article,
.comments {
  @extend %padding-regular;
  border-bottom: 1px solid $border-color;
  float: left;
  width: 100%;
}
article {
  .subtitle {
    font-size: 1.45em;
    font-weight: normal;
    margin: 0;
  }
  header {
    margin-bottom: 6%;
    text-align: center;
  }
  a {
    @extend .body-link;
  }
  .footnotes {
    font-size: 0.9em;
  }
}
header {
  h1 {
    margin: 0;
    text-align:left;
    font-size:34px;
  }
  .meta {
    text-align :left;
  }
}
.meta {
  color: rgba($text-color, .5);
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}
.feature-image {
  padding: 0%;
  .post-link {
    color: $feature-image-text-color;
  }
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    margin-bottom: 0;
    padding: $padding-large/2.5 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
  .post-content {
    @extend %padding-regular;    
  }
}

/*---- song place ----*/
.posts-list {
  padding:5% 20%;
  li {
    padding:0.67em 0;
    h3 {
      margin:0;
      p.meta {
        color:#F46255;
        font-weight:normal;
        font-size:20px;
        line-height:1em;

      }
    }
  }  
}
// portfolio img css
.img_company { 
  position:relative;
  display:block;
  width:30%;   
  img {
    position:absolute;
    top:50%; left:5%;
    transform:translateY(-50%);
  }
  &.cal2 {
    img {
      right:30%;
    }
  }
}
.post-content {
  .no-bottom {
    margin-bottom:0;
    color:#67696B;
    font-weight:bold;
    strong {
      margin-right:10px;
      color:#F46255;
    }
  }
}
