---
layout: default
---

<div class="content-wrap" {% if page.feature-img %}class="feature-image"{% endif %}>
  <h2 class="title">{{ page.title }}</h2>
  {% if page.subtitle %}<h3 class="subtitle">{{ page.subtitle }}</h3>{% endif %}
  <div class="profile">
    <p>경험하고, 공부하고, 생각한것을 기록했다 <span class="icon-emoji">&#x2728;</span></p>
    <br>
    <div>
      <h3>E.Song</h3>
      <p>Birth 1991</p>
    </div>
    <div>
      <h3>SKILL</h3>
      <p>HTML5 / CSS3 / JAVASCRIPT / JQUERY / GIT / Scss ...</p>
    </div>
    <div>
      <h3>WORKING</h3>
      <p>2016.06 ~ 시도우 프론트엔드팀 웹 퍼블리셔(사원)</p>
    </div>
  </div>
</div>
