<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
      {% assign current = page.url | downcase | split: '/' %}
      <nav class="nav">
        <div class="nav-container">
            <ul>
                <li class="transition">
                    <a href="{{ '' | prepend: site.baseurl }}/" {% if current[1] == "about" or current[1] == "study" or current[1] == "etc" or current[1] == "project" %} class="normal" {% endif %} class="active">Home</a>
                </li>
                <li class="transition">
                    <a href="{{ '/Project' | prepend: site.baseurl }}" {% if current[1] == "Project" %} class="active"{% endif %} >Project</a>
                </li>
                <li class="transition">
                    <a href="{{ '/Study' | prepend: site.baseurl }}" {% if current[1] == "study" %} class="active"{% endif %} >Study</a>
                </li>
                <li class="transition">
                    <a href="{{ '/etc' | prepend: site.baseurl }}" {% if current[1] == "etc" %} class="active"{% endif %} >etc</a>
                </li>
                <li class="transition">
                    <a href="{{ '/about' | prepend: site.baseurl }}" {% if current[1] == "about" %} class="active"{% endif %} >about</a>
                </li>
            </ul>
        </div>
      </nav>
    
    {% if page.post-header == true %}
        {% include post-header.html %}
    {% endif %}
    {% if page.project-header == true %}
        {% include project-header.html %}
    {% endif %}
      
    <main>
      {{ content }}
        
        {% if page.text == true %}
            {% include share.html %}
        {% endif %}

      </main>
      
      {% include footer.html %}
   
  </body>
</html>
