---
layout: default
---
<ul class="posts-list">
  
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
      <p class="meta">
        {{ post.type }}
      </p>      
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          <p>{{ post.title }}</p>
        </a>
      </h3>
      <p class="txt_point03">{{ post.skill }}</p>
      <div class="excerpt">
        {{ post.excerpt }}
      </div>
    </li>
  {% endfor %}
  
</ul>

